/* Small screens */

  @media (max-width: 2000px) {
    .logo-responsive {
        width: 200px !important;
        height: 90px !important;
    }
  }
  
  /* Large screens */
  @media (min-width: 768px) {
    .logo-responsive {
      width: 200px !important;
      height: 100px !important;
    }
  }


